body{
font-family:Roboto;
margin:0;
background:#f5f5f5;
}

.navbar{
display:flex;
justify-content:space-between;
background: #D0E3CC;
color:#222;
padding:15px;
}

.nav-links{
display:flex;
list-style:none;
align-items: center;
gap:20px;
}

.nav-links a{
color:#222;
text-decoration:none;
font-weight: bold;
}

.hero{
text-align:center;
padding:80px;
font-size: 25px;
color: #222;
background:#F7FFDD;
}
.submit-button{
background-color: #FCFDAF;
text-decoration: none;
padding: 15px;
border-radius: 30px;
border-width: 1px;
font-weight: bold;
font-size: 16px;
cursor: pointer;

            
}

.submit-button:hover{
background-color: rgb(96, 119, 163);

}
a{
    text-decoration: none;
    color: #DBA159;
    font-weight: 900;
}

.products{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
padding:109px;
background: #F7FFDD;
}

.product-card{
background:white;
padding:15px;
border-radius:10px;
text-align:center;
}
.cart-product-card{
padding:15px;
border-radius:10px;
margin-bottom: 20px;

}

.cart-product-card ul{
    list-style: none;
    padding: 0;
}
.cart-product-card li{
display: flex;
align-items: flex-start;
gap: 20px;
padding: 15px;
margin: 15px 0;
}
.cart-product-row h3{
    margin: 0;
}

.cart-product-row p{
    margin: 5px 0;
    font-size: 22px;
    max-width: 1250px;
}
.cart-product-card li{
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    max-width: 1250px;
}
.cart-product-card img{
width: 100px;
height: 100px;
object-fit: cover;
border-radius: 100px;

.cart-product-row{
display: flexbox;
flex-direction: column;

}
}
.cart-to-payment{
display:flex;
max-width: 750px;
margin: 20px;
justify-content: space-between;
}
.details{
    font-weight: 700;
    font-size: 24px;
    
}
.cart-icon img{
width: 35px;
height: 35px;
object-fit: cover;
vertical-align: middle;
}

.product-card img{
width: 100px;
height: 100px;
object-fit: cover;
}

.form-container{
width:300px;
margin:100px auto;
background:white;
padding:20px;
border-radius:10px;
}

.form-container input{
width:100%;
padding:10px;
margin:10px 0;
}

.product-page{
display:flex;
gap:40px;
padding:40px;
}

html, body{
    height:100%;
}

body{
    display:flex;
    flex-direction:column;
}

.footer{
margin-top:auto;
text-align:center;
padding:20px;
background:#D0E3CC;
color:#222;

}
